* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  

 
/**** section-0 *****/

header{ 
    background-color: white !important;
}

.img{padding-top: 10px;
     padding-right: 10px;
}

.sub{
    padding-top: 15px;
    color: white !important; 
}

i{
    padding-top: 5px;
}
a{
    font-weight: bold;
}

.text-color{
    color: black;
    font-weight: normal;
    font-size: 15px;
}
  
/**** section-1 ****/
h1{ 
    font-weight: 500;
}

.p1{
    text-align: left;
    font-size: 19px;
    padding-bottom: 20px;
   
}

.black-text{
    padding-top: 100px;
}

video{
    padding-left: 100px;
}


/* section-2 */


#image{
   height:70px !important; 
   background-color: white;
   margin-top: 30px;
   margin-bottom: 30px;

}


/* section-3 */

.row{
  text-align: center;
  
 
}

.row .card{
    background-color:#F3F6F9 ;
    height: 350px !important;
    padding-bottom: 50px;
}

.row .card .card-image{
    padding-bottom: 10px !important;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#width{
    width: 10%;
}

#padding{
    padding-top: 80px;

}

.card-title{
    font-weight: 500 !important;
    font-size: 30px !important;
    padding-bottom: 10px !important;

}

.link a{
    color: #0ABF53 !important;
}

.backcolor-1{
    background-color: #F3F6F9 ;
    
}


/* section-4 */

.topic-1{
    font-size: 45px;
    padding-right: 280px;
    padding-left: 280px;
    padding-top: 50px;
}

.p2{
   text-align: center; 
   padding-left: 300px;
   padding-right: 300px;
   font-size: 18px;
   padding-bottom: 10px;
   
}

.link-4{
    color: #0ABF53; 
    padding-top: 20px;
    
}




/* section-5 */

#height{
    min-height: 700px;
  
}

.topic-2{
    text-align: left;
    font-size: 19px;
}
.p3{
    text-align: left;
    text-align: justify;
    font-size: 18px;
}  
.link-2{
 text-align: left;
 
}

.link-2 a{
    color: #0ABF53 !important;
    padding-top: 10px !important;
    
}

.link-3{
    text-align: left;
    
}

.link-3 a{
    color: #0ABF53 !important;
    padding-top: 10px !important;
}


/* section-6-1 */

.backcolor-2{
    background-color: #03132D;
    color: white;
}


h1{
    text-align: left;
    font-size: 50px;
    padding-top:40px;
    
}

.p4{
    text-align: left;
    font-size: 22px;
    color: white;
}

#padding-2{
    padding-top: 80px;
    background-color:#03132D ;

}

/* section-6-2 */

.p5{
    font-size: 15px;
    text-align: left;
}

.topic-4{
     font-size: 19px;
     text-align: left;
}

.link-5{
    padding-top: 10px;
}
.link-5 a{
    color: #0ABF53 !important;;
}

/* section-7 */



/* footer */

/* .row{
    background-color:white !important;
} */